﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">CasMenu</a>
            <a class="navbar-brand casmenu-navbar-link" [routerLink]="['menu']">Heti menü</a>
            <a class="navbar-brand casmenu-navbar-link" [routerLink]="['ordermenu']">Rendelés</a>
        </div>
        <div class="navbar-collapse collapse">
            <form action="Account/LogOff" method="post" id="logoutForm" class="navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </form>
        </div>
    </div>
</div>
    <div class="panel panel-default navbar-fixed-bottom" *ngIf="user" style="z-index: 5; margin: 0 auto;">
        <div class="panel-footer">
            <span style="color: darkslategrey">Bejelentkezve: </span>
            <span style="font-weight: bold">{{user?.name}}</span>
            <span style="font-size: small">({{user?.email}})</span>
        </div>
    </div>

    <div class="container body-content">
        <router-outlet></router-outlet>
    </div>



