﻿
.list-group-item.list-group-item-action:hover {
    background-color: #71a6fc;
}

.list-group-item.list-group-item-action {
    border: 1px solid darkgrey;
    text-align: center;
    margin: 0 auto;
}

.list-group-item.list-group-item-action a {
    color: #999999;
    text-decoration: none;
}

.list-group-item.list-group-item-action:hover {
    background-color: #1a2f51;
}

.list-group-item.list-group-item-action a:hover {
    color: white;
}

.casmenu-nav-ul li{
    border-top: none;
    background-color: #222222;
    border-color: #080808;

    text-decoration: none;
}

.casmenu-item.row {
    margin-bottom: 5px;
    padding: 5px;
    display: table;
    text-align: center;
    border-radius: 7px;
    background-color: #ffffee ;
}

.casmenu-item.row li {
    list-style: none;
    margin: 5px;
}

.casmenu-food.col-xs-2 {
    background-color: #ededed;
    float: left;
    width: 250px;
    height: 75px;
    text-wrap: normal;
    border: solid 1px lightgrey;
    border-bottom: 3px solid #e84040;
    border-left: 0;
    border-radius: 3px;
}

.casmenu-food.col-xs-2:hover {
    -webkit-transform: scale(1);
    border-top: 0;
    border-right: 0;
    -webkit-transform-origin: 50% 50%;
}

.casmenu-food-selected.col-xs-2 {
    float: left;
    width: 250px;
    height: 75px;
    text-wrap: normal;
    background-color: #e84040;
    border: solid 1px lightgrey;
    border-radius: 3px;
    border-bottom: 3px solid #ededed;
}

.casmenu-food-selected.col-xs-2:hover {
    background-color: #e84040;
}

.casmenu-food-unavailable.col-xs-2 {
    float: left;
    width: 250px;
    height: 75px;
    text-wrap: normal;
    border: solid 1px lightgrey;
    background-color: darkgrey;
    border-left: 0;
    border-radius: 3px;
    border-bottom: 3px solid grey;
    opacity: 0.85
}

.casmenu-food-unavailable.col-xs-2:hover {
    float: left;
    width: 250px;
    height: 75px;
    text-wrap: normal;
    border: solid 1px lightgrey;
    background-color: darkgrey;
    border-left: 0;
    border-radius: 3px;
    border-bottom: 3px solid grey;
    opacity: 0.80
}

.casmenu-food-final.col-xs-2 {
    float: left;
    width: 250px;
    height: 75px;
    text-wrap: normal;
    border: solid 1px lightgrey;
    border-left: 0;
    border-radius: 3px;
    background-color: darkgrey;
    opacity: 0.5
}

.casmenu-food-selected-final.col-xs-2 {
    float: left;
    width: 250px;
    height: 75px;
    text-wrap: normal;
    background-color: #2273f7;
    border-radius: 3px;
    opacity: 1
}

.casmenu-food-unavailable-final.col-xs-2 {
    float: left;
    width: 250px;
    height: 75px;
    text-wrap: normal;
    border: solid 1px lightgrey;
    background-color: darkgrey;
    border-left: 0;
    border-radius: 3px;
    border-bottom: 3px solid grey;
    opacity: 0.5
}

.casmenu-day.col {
    border-bottom: 2px solid black;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-top-right-radius: 2px;
}

.casmenu-day-checkbox #day {
    width: 20px;
    height: 20px;
    float: right;
}

.casmenu-container.container-fluid {
    padding: 30px;
}

.casmenu-order-button{
    margin-top: 25px;
    margin-bottom: 100px;
    float: left;
    margin-left: 200px;
}

#orderbutton {
    float: right;
    width: 180px;
    height: 50px;
}

.loading-app {
    width: 100%;
    height: 100%;
    margin: 0 auto;

}

.loading-app img {
    margin: 0 auto;
    width: 50%;
    height: 50%;
}

.casmenu-navbar-link {
    font-size: medium;
    color: white;
}

.panel-body {
    background: lightgray;
}

.casmenu-nav-item-active {
    background-color: #2273f7;
}

.casmenu-info span {
    margin: 0 auto;
}