﻿
<h1>{{week}}.hét</h1>

<div class="alert alert-success" *ngIf="isUpdatedSuccessfully">
    <strong>Sikeres rendelés!</strong>
</div>
<div class="alert alert-danger" *ngIf="isUpdatedSuccessfully !== undefined && !isUpdatedSuccessfully">
    <strong>Sikertelen rendelés</strong>
</div>

<div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../Content/images/loading.gif" width="32" height="32" /> Loading...</div>
<div *ngIf="menuItems.length != 0 && orderItems.length != 0">
    <ul style="padding: 0;">
        <li class='casmenu-item row' *ngFor="let item of menuItems; let i = index">
            <div class="casmenu-day col">
                <label>{{days[i] | uppercase}}</label>
            </div>
            <ul>
                <li *ngFor="let soup of item.soups" class="casmenu-food-final col-xs-2"
                    [class.casmenu-food-selected-final.col-xs-2]="item.soups.indexOf(soup) == orderItems[i].soup"
                    [class.casmenu-food-unavailable-final.col-xs-2]="!orderItems[i].isNotEmpty">
                    {{soup.name}}
                </li>
            </ul>
            <ul>
                <li *ngFor="let meat of item.meats" class="casmenu-food-final col-xs-2"
                    [class.casmenu-food-selected-final.col-xs-2]="item.meats.indexOf(meat) == orderItems[i].meat"
                    [class.casmenu-food-unavailable-final.col-xs-2]="!orderItems[i].isNotEmpty">
                    {{meat.name}}
                </li>
            </ul>
            <br style="clear: left" />
            <br style="clear: left" />
        </li>
    </ul>
</div>



