﻿<div class="alert alert-success alert-dismissable show" *ngIf="isUpdatedSuccessfully">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Sikeres rendelés!</strong>
</div>
<div class="alert alert-danger" *ngIf="isUpdatedSuccessfully !== undefined && !isUpdatedSuccessfully">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Sikertelen rendelés</strong>
</div>

<h1>{{week}}.hét</h1>
<hr/>

<div class="row">
    <div class="casmenu-info">
        <div class="col-lg-2">
            <p>Fizetve:
                <span class="label label-success">{{prise ? prise + " Ft" : "0 Ft"}}</span>
            </p>
        </div>
        <div class="col-lg-2">
            <p>Ár: <span class="label label-primary">{{cost}} Ft </span>
            </p>
        </div>
        <div class="col-lg-2">
            <p>Adósság:
                <span class="label label-warning">{{(cost - prise) > 0 ? (cost - prise) + " Ft" : "" }}</span>
                <span class="label label-success">{{(cost - prise) == 0 ? "0 Ft" : "" }}</span>
            </p>
        </div>
    </div>
</div>

<div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../Content/images/loading.gif" width="32" height="32" /> Loading...</div>
<div *ngIf="menuItems.length != 0 && orderItems.length != 0">
    <ul style="padding: 0;">
        <li class='casmenu-item row' *ngFor="let item of menuItems; let i = index">
            <div class="casmenu-day col">
                <div class="casmenu-day-checkbox">
                    <label>{{days[i] | uppercase}}</label>
                    <input id="day" type="checkbox" [(ngModel)]="orderItems[i].isNotEmpty"
                           (change)="onIsNotEmptyChange(i)"/>
                </div>
            </div>
            <ul>
                <li *ngFor="let soup of item.soups" class="casmenu-food col-xs-2"
                    (click)="onSelectSoup(i, soup)"
                    [class.casmenu-food-selected.col-xs-2]="item.soups.indexOf(soup) == orderItems[i].soup"
                    [class.casmenu-food-unavailable.col-xs-2]="!orderItems[i].isNotEmpty">
                    {{soup.name}}
                </li>
            </ul>
            <ul>
                <li *ngFor="let meat of item.meats" class="casmenu-food col-xs-2"
                    (click)="onSelectMeat(i, meat)"
                    [class.casmenu-food-selected.col-xs-2]="item.meats.indexOf(meat) == orderItems[i].meat"
                    [class.casmenu-food-unavailable.col-xs-2]="!orderItems[i].isNotEmpty">
                    {{meat.name}}
                </li>
            </ul>
            <br style="clear: left"/>
        </li>
    </ul>

    <div class="casmenu-order-button">
        <button class="btn btn-primary btn-lg" type="button" id="orderbutton" (click)="sendOrder()" onclick="scrollToTop()">
            Megrendelem
        </button>
    </div>
</div>



