﻿@using casmenu_testapp_3.Models
@using casmenu_testapp_3.ViewModels
@model casmenu_testapp_3.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Bejelentkezés";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}